* {
    margin: 0;
}
html, body {
    height: 100%;
}
ul, li {
    display: inline
}
a {
    color: #5f6368;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
input {
    width: 575px;
    padding: 12px 20px;
    margin: 20px auto;
    display: block;
    box-sizing: border-box;
    border-radius: 20px;
}
input[type=text]:hover {
    border: 1px solid #b3b3b3;
}
center {
    display: block;
    text-align: center;
}
.headertext {
    font-family: arial,sans-serif;
    font-size: 13px;
}
.footertext {
    font-family: arial,sans-serif;
    font-size: 14px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.g-apps-positioning {
    float: right;
    padding: 7px;
}
.sign-in-positioning {
    float: right;
    padding: 9px;
}
.left, .right {
    padding: 12px;
}
.search-button {
    background-color: #f2f2f2;
    border: none;
    color: #696969;
    padding: 9px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 2px;
}
.search-button:hover {
    color: black;
    border: solid;
    border-width: 1px;
    border-color: #b3b3b3;
}
.g-apps {
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-size: 528px 68px;
    background-position: -132px -38px;
    border: none;
    opacity: .55;
    display: inline-block;
    text-decoration: none;
    outline: none;
    vertical-align: middle;
    border-radius: 2px;
    height: 30px;
    width: 30px;
}
.g-apps:hover {
    opacity: .85;
}
.site-container {
    min-height: 100%;
    margin-bottom: -40px; 
}
.site-container:after {
    content: "";
    display: block;
}
.site-footer, .site-container:after {
    height: 40px; 
}
.site-footer {
    background: #f2f2f2;
    position: fixed;
    width: 100%;
}
#imglogo {
    margin: 195px auto 0 auto;
    display: block;
}
#sign-in-button {
    background-color: #4d88ff;
    border: none;
    color: #696969;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 2px;
}
#sign-in-button:cursor {
    background-color: #0055ff;
}
#sign-in-text {
    color: white
}
#sign-in-text:hover {
    text-decoration: none !important;
}